.tamagotchi-heading {
    text-align: center;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    color: whitesmoke;
}

.life-of-pet-text {
    text-align: center;
}

.pet-bio {
    text-align: center;
}

.main-game-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 20px 0;
    text-align: center;
    /* display: grid;
    grid-template-rows: 100px 100px 300px 100px 100px; */
}

.age-timer {
    display: flex;
    justify-content: center;
}

.hourglass {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    grid-row: 1;
}

.age-count {
    font-style: italic;
    margin: 25px 0 25px 10px;
}

.pet-status {
    grid-row: 2;
    align-items: center;
}

.shiba {
    display: flex;
    flex-wrap: nowrap;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    grid-row: 3;
}

.pet-name-button {
    grid-row: 4;
    padding: 15px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    grid-row: 5;
    margin: 25px 0 25px 0;
}

#play-button {
    background-color: pink;
}

#feed-button {
    background-color: green;
}

#nap-button {
    background-color: darkgoldenrod;
}

#hatch-button {
    background-color: wheat;
}